body{
	background:#e6e6e6;
	font-family:Arial,sans-serif;
}
.main{
	width:600px;
	margin:0 auto;

}
hr{
	border:0px;border-top:1px solid grey;
}
.noticeboard{
	background:
	white;margin:0px;
	padding:10px;
	border:1px solid grey;
}
.icon{
	font-size:100px;
	color:green;
}
.hidden{
	display:none;
	color:green;
	padding:20px;
	background: #e0ffe9;
	border:1px solid green;
	margin:10px 0px 10px 0px;
}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background:#d0ffdc;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eaf7ee;
}




@media only screen and (max-width: 700px) {
	.hidden{
		display:block;
	}
	body{
		margin:20px;
	}
    .main {
        width:100%;    }